/* You can add global styles to this file, and also import other style files */

body {
  font-family: var(--font-family);
  padding: 2rem;
  width:100%;
  height: 100%;
  background-image: url(https://cdn.24.co.za/files/Cms/General/d/3600/326138afef754bba871a8f1a6b8ed86a.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
